body {
  margin: 0
}

#playerOverlay {
  position: absolute;
  top: 0;
  left: 0;
}

#playerClip {
  transform: rotate(90deg) scale(1, -1);
}

#map {
  transform: rotate(90deg) scale(1, -1);
  //clip-path: url(#playerClip);
}
// svg {
//   background-color: black;
// }
