body {
  margin: 30px;
  background-color: black;
}

.monster0 {
  fill: pink
}

.monster1{
  fill: lighten(red, 25%)
}

.monster2 {
  fill: lighten(red, 15%)
}

.monster3 {
  fill: red
}

.monster4 {
  fill: darken(red, 15%)
}

.potion {
  fill: lighten(green, 30%)
}

.weapon {
  fill: goldenrod
}

.player{
  fill: blue
}

.boss{
  fill: black;
  stroke: red;
}

.svgOverlay {
  position: absolute;
  top: 30px;
  left: 30px;
}

.status-display{
  color: white;
}
