body {
  margin: 30px;
  background-color: black;
}

.svgOverlay {
  position: absolute;
  top: 30px;
  left: 30px;
}

#playerClip {
}

#nonPlayerOverlay {
  //clip-path: url(#playerClip);
  // transform: rotate(90deg) scale(1, -1);
}

#map {
  //transform: rotate(90deg) scale(1, -1);
  //clip-path: url(#playerClip);
}
// svg {
//   background-color: black;
// }
